{% extends 'base_.html' %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Perbaharui Data</h3>
          <p class="text-subtitle text-muted">Perbaharui Data {{ obj.nama }}</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'tsungai:index' %}">Index</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <section class="section">
      <div class="card">
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form form-horizontal">
            {% csrf_token %}
            <div class="row">
              <!-- LOOP FIELD SELAIN LAT LONG -->
              {% for field in form %}
                {% if field.name != 'latitude' and field.name != 'longitude' and field.name != 'latitude2' and field.name != 'longitude2' %}
                  <div class="col-md-4 col-lg-3">{{ field.label }}</div>
                  <div class="col-md-8 col-lg-9 form-group mb-2">
                    {{ field }}
                    {% if field.errors %}
                      <div class="invalid-feedback d-block">{{ field.errors|striptags }}</div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}

              <!-- LAT1 & LONG1 -->
              <div class="col-md-4 col-lg-3">Koordinat 1</div>
              <div class="col-md-8 col-lg-9 mb-2">
                <div class="row">
                  <div class="col-md-6">{{ form.latitude.label_tag }}
                    {{ form.latitude }}</div>
                  <div class="col-md-6">{{ form.longitude.label_tag }}
                    {{ form.longitude }}</div>
                </div>
              </div>

              <!-- LAT2 & LONG2 -->
              <div class="col-md-4 col-lg-3">Koordinat 2</div>
              <div class="col-md-8 col-lg-9 mb-2">
                <div class="row">
                  <div class="col-md-6">{{ form.latitude2.label_tag }}
                    {{ form.latitude2 }}</div>
                  <div class="col-md-6">{{ form.longitude2.label_tag }}
                    {{ form.longitude2 }}</div>
                </div>
              </div>

              <div class="col-md-4 col-lg-3">Foto/Dokumentasi</div>
              <div class="col-md-8 col-lg-9">
                <input class="form-control" type="file" name="images" id="formFileMultiple" multiple />
              </div>

              <!-- BUTTON -->
              <div class="col-12 d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-success icon icon-left me-1"><i data-feather="check-circle"></i> Simpan Data</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
