{% extends 'base_.html' %}
{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Perbaharui Data</h3>
          <p class="text-subtitle text-muted">Perbaharui data aset bendung</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'bendung:index_bendung' %}">Bendung</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Ubah</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <section class="section">
      <div class="card">
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form form-horizontal">
            {% csrf_token %}
            <div class="form-body">
              <div class="row">
                {% for field in form %}
                  <div class="col-md-4 col-lg-3">{{ field.label }}</div>
                  <div class="col-md-8 col-lg-9 form-group">
                    {{ field }}
                    {% if field.errors %}
                      <div class="invalid-feedback">{{ field.errors|striptags }}</div>
                    {% endif %}
                  </div>
                {% endfor %}
                <div class="col-md-4 col-lg-3">Foto/Dokumentasi</div>
                <div class="col-md-8 col-lg-9">
                  <input class="form-control" type="file" name="images" id="formFileMultiple" multiple />
                </div>

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button type="submit" class="btn btn-success icon icon-left"><i data-feather="check-circle"></i>Perbaharui Data</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
